.body{
    background-color: black;
}

.Main_menu {
    margin: auto;
    display: flex;
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 40px;
    width: 50%;
    color: brown;
}

.header-right img{
    margin-left: 4rem;
    height: 700px;
    width: 1000px;
    padding-left: 2rem;
  
}